S1E1/S1E1_DarioYMaria/nbproject/
S1E1/S1E1_DarioYMaria/build/
S1E2/S1E2_MariYDario/nbproject/private/
S3E1/D3E1MariYDario/nbproject/private/
S3E1/D3E1MariYDario/build/
/S3E1/S4/nbproject/private/
/S3E1/S4/build/
/S3E1/S4/dist/
/S4/S4/build/
/S4/S4/nbproject/private/
/S4/S4/dist/
/P2-SCACV/P2-SCACV/nbproject/private/
/P2-SCACV/P2-SCACV/nbproject/build/
/P2-SCACV/P2-SCACV/build/
/P2-SCACV/P2-SCACV/dist/